/************************************************************
BUTTONS
************************************************************/
/******************************
Base
******************************/
button, 
.button, 
input[type="submit"], 
.submit:visited, 
.button:visited {
  background: $green;
  border: none;
  border-radius: 3px;
  color: $white;
  cursor: pointer;
  display: block;
  letter-spacing: 1px;
  margin: 0 auto 1em;
  max-width: 12.5em;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  -webkit-appearance: none;
  @include transition(all $transition-static);
  &:hover {
    background: darken($green, 5%);
    color: $white;
  }
}

/******************************
States
******************************/
button.disabled, button:disabled,
.button.disabled, .button:disabled,
submit.disabled, submit:disabled,
.submit.disabled, .submit:disabled {
  background: $greyLt;
  color: $greyMd;
  cursor: default;
}
