/************************************************************
LINKS
************************************************************/
/******************************
Base
******************************/
a, .link,
a:visited, .link:visited {
  color: $green;
  text-decoration: none;
  @include transition(all $transition-static);
  &:active,
  &:hover {
    border-color: inherit;
    color: inherit;
  }

  &[rel^="external"],
  &[rel*=" external"],
  &[target^="blank"],
  &[target*="blank "],
  &:not([href*="starbasego.com"]),
  &:not([href^="/"]),
  &:not([href^="#"]),
  &.external {
    
  }
}
