.tweet-list-head {
  margin-top: 1em;
}
.list-tweets-head {
  display: none;
  list-style-type: none;
  margin-top: 1em;
  @media screen and (min-width: $medium) {
    display: block;
  }
  @media screen and (min-width: $large) {
    float: right;
  }
}
.list-head-item {
  display: inline-block;
  font-weight: bold;
  &.toggle {
    text-decoration: underline;
  }
  &.toggled a {
    color: $green;
  }
}
.list-head-item a {
  color: $black;
}
#date-toggle.list-head-item {
  width: 15.5em;
}
#message.list-head-item {
  @media screen and (min-width: $medium) {
    margin: 0;
    width: 18em;
  }
  @media screen and (min-width: $m-l) {
    width: 22em;
  }
  @media screen and (min-width: $large) {
    width: 18em;
  }
  @media screen and (min-width: $xl) {
    width: 24em;
  }
}
#name-toggle.list-head-item {
  width: 8.5em;
}


.list-tweets {
  list-style-type: none;
  @media screen and (min-width: $large) {
    float: right;
    max-width: 54em;
    width: 75%;
  }
}
.tweet-individual {
  background: $white;
  border-radius: 3px;
  border-left: 0 solid $blue;
  box-shadow : 0px 1px 3px -1px darken($greyMd, 40%);
  margin: 1em .5em 0;
  max-height: 20em;
  min-height: 5.5em;
  overflow: hidden;
  padding: 1em;
  position: relative;
  @include transition(all $transition-static);
}
.tweet-author,
.tweet-content,
.tweet-created-date,
.tweet-profile-image, {
  display: block;
  @media screen and (min-width: $medium) {
    display: inline-block;
    vertical-align: middle;
  }
}
.tweet-author {
  display: inline-block;
  font-size: .83em;
  text-decoration: underline;
  vertical-align: middle;
  width: 10em;
}
.tweet-complete-toggle {
  bottom: 0;
  position: absolute;
  right: 1em;
  text-align: right;
  width: 8.5em;
  &:before {
    background: $white;
    border-radius: 50%;
    content: "";
    display: block;
    height: .75em;
    left: .3em;
    position: absolute;
    top: .7em;
    width: .75em;
  }
  &:after {
    background: $blue;
    border-radius: 50%;
    content: "";
    display: block;
    height: .45em;
    left: .43em;
    opacity: 0;
    position: absolute;
    top: .84em;
    width: .45em;
    @include transition(opacity $transition-static);
  }
}
.tweet-content {
  line-height: 1.3em;
  margin: 1em 0;
  @media screen and (min-width: $medium) {
    margin: 0;
    width: 18em;
  }
  @media screen and (min-width: $m-l) {
    width: 22em;
  }
  @media screen and (min-width: $large) {
    width: 18em;
  }
  @media screen and (min-width: $xl) {
    width: 24em;
  }
}
.tweet-created-date {
  font-size: .83em;
  font-weight: bold;
  margin-bottom: 2em;
  width: 4em;
  @media screen and (min-width: $medium) {
    margin: 0 0 0 .25em;
  }
}
.tweet-profile-image {
  border-radius: 3px;
  display: inline-block;
  height: 3em;
  margin-right: .25em;
  position: relative;
  vertical-align: middle;
  width: 3em;
  @media screen and (min-width: $medium) {
    margin-right: 1em;
  }
}
.tweet-remove-link,
.tweet-remove-link:visited,
.tweet-remove-link:active {
  border: none;
  color: darken($greyMd, 20%);
  display: block;
  font-size: 1.5em;
  font-weight: bold;
  height: 1em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 1em;
}

.tweet-individual.archived,
#tweet-list.complete-hide .tweet-individual.complete {
  margin-top: 0;
  max-height: 0;
  min-height: 0;
  padding: 0;
  opacity: 0;
  -moz-transform: scale(.95,.95);
  -webkit-transform: scale(.95,.95);
  transform: scale(.95,.95);
}

.tweet-individual.complete {
  border-left-width: .5em;
  padding-left: .5em;
  .tweet-author a {
    color: darken($green, 10%);
  }
  .tweet-remove {
    left: .5em;
  }
  .tweet-complete-toggle {
    background: $blue;
    &:after {
      opacity: 1;
    }
    &:hover {
      background: darken($blue, 10%);
    }
  }
}

.tweet-individual.archive-attempt .tweet-remove {
  opacity: 1;
  z-index: 1;
}
.tweet-individual.archive-attempt .tweet-remove-link {
  display: none;
}

.tweet-remove {
  background: $white;
  bottom: 1em;
  left: 1em;
  opacity: 0;
  position: absolute;
  right: 1em;
  text-align: right;
  top: 1em;
  z-index: -1;
  @include transition(opacity $transition-static);
}
.remove-button {
  display: inline-block;
  margin: .25em 0 0 .5em;
}
.button.button-no {
  background: $violet;
  &:hover {
    background: darken($violet, 10%);
  }
}
.tweet-individual:hover {
  .tweet-remove-link {
    color: $greyDk;
    &:hover {
      color: $violet;
    }
  }
}
