.list-tweets-head {
  border-bottom: 2px solid $greyDk;
  list-style-type: none;
  margin: 1em;
  padding-left: 7em;
}
.list-head-item {
  display: inline-block;
  font-weight: bold;
}
#date-toggle.list-head-item {
  width: 3em;
}
#message.list-head-item {
  width: 26em;
}
#name-toggle.list-head-item {
  width: 10em;
}


.list-tweets {
  list-style-type: none;
  @media screen and (min-width: $large) {
    float: right;
    max-width: 54em;
    width: 75%;
  }
}
.tweet-individual {
  background: $white;
  box-shadow: 0px 1px 3px -1px darken($greyMd, 40%);
  margin: 1em .5em 0;
  padding: 1em;
  position: relative;
}
.tweet-author,
.tweet-complete-toggle,
.tweet-content,
.tweet-created-date,
.tweet-profile-image, {
  display: inline-block;
}
.tweet-author {
  width: 10em;
}
.tweet-complete-toggle {
  width: 8em;
}
.tweet-content {
  width: 26em;
}
.tweet-created-date {
  width: 3em;
}
.tweet-profile-image {
  height: 2em;
  width: 2em
}
.tweet-remove-link {
  border: none;
  color: darken($greyMd, 20%);
  display: block;
  font-size: 1.25em;
  font-weight: bold;
  height: 1em;
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
  width: 1em;
  &:hover {
    color: $green;
  }
}
