<ul class="list-tweets">
  <% _.each(tweets, function(tweet){ %>
    <li class="tweet-individual" data-id="<%= tweet.get("id") %>">
      <div class="tweet-profile-image" data-bg='<%= tweet.get("profile_image_url") %>'></div>

      <h3 class="tweet-author">
        <a href="<%= tweet.profile_url %>" target="_blank"><%= tweet.get("screen_name") %></a>
      </h3>

      <p class="tweet-content"><%= tweet.get("text") %></p>

      <time class="tweet-created-date" datetime="<%= tweet.get("created_at") %>"><%= tweet.get("created_at_formatted") %></time>

      <a class="tweet-complete-toggle button">asdf</a>

      <a class="tweet-remove-link" href="#">×</a>
    </li> 
  <% }); %>
</ul>
