<ul class="list-tweets">
  <% _.each(tweets, function(tweet){ %>
    <li>
      <div class="tweet-profile-image" data-bg='<%= tweet.get("profile_image_url") %>'></div>

      <h3 class="tweet-author">
        <a href="<%= tweet.get("url") %>" target="_blank"><%= tweet.get("screen_name") %></a>
        </h3>

      <p class="tweet-content"><%= tweet.get("text") %></p>

      <time class="tweet-created-date" datetime="<%= tweet.get("created_at") %>"><%= tweet.get("created_at") %></time>

      <a class="tweet-complete-toggle"></a>

      <a class="tweet-remove-link" href="#"><i>X</i></a>
    </li> 
  <% }); %>
</ul>
