<div class="summary-info">
  <h3 class="summary-header">Summary</h3>
  
  <div id="summary"></div>

  <div class="summary-toggle">
    <a class="toggle on" href="#">
      <span class="toggle-option on">Show</span>
      <span class="toggle-option off">Hide</span>
    </a> completed items
  </div>

</div>

<h2 class="tweet-list-head">Incoming tweets</h2>
<ul class="list-tweets-head">
  <li class="list-head-item" id="name-toggle"><a href="#">Name</a></li>
  <li class="list-head-item" id="message"><span>Message</span></li>
  <li class="list-head-item" id="date-toggle"><a href="#">Date</a></li>
</ul>

<div id="tweet-list"></div>
